/* reset */
* {
    font-family: 'Roboto', sans-serif;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.dropdown {
    margin: 20px auto auto 20px;
    position: relative;
}

.dropdown-toggle {
    width: 210px;
    margin-bottom: 9px;
    padding: 13px 80px 13px 14px ;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.1;
    background-color: #fff;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    background-image: url(./img/Polygon\ 1.png);
    background-repeat: no-repeat;
    background-position: 93% 48%;
    cursor: pointer;
    text-align: left;
}

.dropdown-toggle.on {
    background-image: url(./img/Polygon\ on.png);
}

.dropdown-toggle:focus {
    border: 1px solid #9b51e0;
    outline: 3px solid #F8E4FF;
}

.dropdown-list {
    width: 210px;
    background-color: #fff;
    border: 1px solid #c4c4c4;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.dropdown-list.hidden {
    visibility: hidden;
}

.dropdown-option:hover,
.dropdown-option:focus {
    width: 180px;
    background-color: #F8E4FF;
    border-radius: 8px;
}

.dropdown-option {
    margin: 5px 8px 5px 8px;
    padding: 12px 120px 12px 18px;
    width: 180px;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    text-align: left;
    line-height: 1.2;
    cursor: pointer;
}

